.container {
  text-align: left;
  padding: 20px;
  padding-left: 300px;
  /*Esses dois comandos fazem que a div de texto
   sejam mais compactadas*/
  max-width: 600px;
  margin: auto;
}

.foto {
  display: flex;
  margin-right: 300px;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Krona One", sans-serif;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Krona One", sans-serif;
}

strong {
  color: #22d4fd;
}

a {
  background-color: #22d4fd;
  padding: 15px 90px;
  border-radius: 16px;
  text-decoration: none;
  border: 1px solid #22d4fd;
  color: #000000;
  font-weight: bold;
  font-family: "Krona One", sans-serif;
}

.buttons {
  display: flex;
  gap: 50px;
}
